extends layout

block content
	h1 Live Commentary
	- if(matches.length != 0)
		p Select a live match
	else
		p Sorry, No live matches.
	ul
	each match in matches
		li 
			a(href='show/' + match[':uid']) #{match.competition_name} - #{match.title}